.forecast-page {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    padding: 70px;
}
