.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--accent-one);
    padding: 16px;
}

#logo-img {
    height: 5em;
}

#go-to-login {
    color: white;
}

.forecast-components {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#no-show {
    display: none;
}