.extended-information {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
    visibility: hidden;

}

.date:hover .tooltip {
    visibility: visible;
}