.switcher {
    background-color: transparent;
    border-style: none;
    color: white;
    font: var(--top-bar-font);
    transition: all .2s ease-in-out;
    padding: 7px;
}

.switcher:hover {
    cursor: pointer;
    text-shadow: 0 0 10px var(--accent-two);
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}