.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
  /*  justify-content: center;*/
    align-items: center;
    flex: 1;
}

.header {

}